{% set tenant_extra_vhosts = tenants[vars['tenant']][vars['hostgroup']]['extra_vhosts']['public'] %}
{% for vhost in tenant_extra_vhosts %}
{% if vhost == 'http' %}
<VirtualHost *:80>
    DocumentRoot /var/www/html/wwwroot/{{ tenant_extra_vhosts['http']['docroot'] }}/docroot
    ServerName {{ tenant_extra_vhosts['http']['server_name'] }}
{% if tenant_extra_vhosts['http']['server_alias'] is defined %}    ServerAlias {{ tenant_extra_vhosts['http']['server_alias'] }}
{% endif %}
    ErrorLog logs/{{ tenant_extra_vhosts['http']['server_name'] }}-error_log
    CustomLog logs/{{ tenant_extra_vhosts['http']['server_name'] }}-access_log common
    CustomLog "|/usr/bin/logger -t httpd -p local6.info" combined
    {% if tenant_extra_vhosts['http']['extras'] is defined %}{{ tenant_extra_vhosts['http']['extras'] }}{% endif %}
php_value newrelic.appname '{{ tenant_extra_vhosts["https"]["newrelic_name"] }}'
</VirtualHost>
{% endif %}
{% endfor %}

{% for vhost in tenant_extra_vhosts %}
{% if vhost  == 'https' %}
<VirtualHost {{ inventory_hostname }}:443>
{% include "ssl_conf.j2" %}

    DocumentRoot /var/www/html/wwwroot/{{ tenant_extra_vhosts['https']['docroot'] }}/docroot
    ServerName {{ tenant_extra_vhosts['https']['server_name'] }}
{% if tenant_extra_vhosts['https']['server_alias'] is defined %}    ServerAlias {{ tenant_extra_vhosts['https']['server_alias'] }}
{% endif %}
    ErrorLog logs/{{ tenant_extra_vhosts['https']['server_name'] }}-error_log
    CustomLog logs/{{ tenant_extra_vhosts['https']['server_name'] }}-access_log common
    CustomLog "|/usr/bin/logger -t httpd -p local6.info" combined
    {% if tenant_extra_vhosts['https']['extras'] is defined %}{{ tenant_extra_vhosts['https']['extras'] }}{% endif %}
php_value newrelic.appname '{{ tenant_extra_vhosts["http"]["newrelic_name"] }}'
</VirtualHost>
{% endif %}
{% endfor %}



