Task: Drush Self-Service for {{ site_alias }}

----------------------------------------------------------------------------------------------
Job {{ tower_job_id }} Failed: 
Please open an SSR with the WCM team and include the information provided in this email.

----------------------------------------------------------------------------------------------
Job Runtime Variables:
    site_alias={{ site_alias }}
    environment={{ env }}
    drush_status={{ drush_status }}
    drush_updb={{ drush_updb }}
    drush_clear={{ drush_clear }}

----------------------------------------------------------------------------------------------
Pretask Status: {{ email_pretask }}
Job Status: {{ email_task }}

----------------------------------------------------------------------------------------------
