[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
server = {{ splunk_index_server }}:{{ splunk_indexer_server_port }}

[tcpout-server:{{ splunk_index_server }}:{{ splunk_indexer_server_port }}]
