{   
    "AlarmName": "{{ ec2_id }}-{{ name }}-{{ efs_env }}-{{ alarm_metric }}",
    "AlarmDescription": "Error-{{ efs_env }}-{{ alarm_metric }}-statusUnresponsive",
    "ActionsEnabled": true,
    "AlarmActions": [
        "arn:aws-us-gov:sns:us-gov-west-1:626894281569:WCMMonitoring"
    ],
    "MetricName": "{{ alarm_metric }}",
    "Namespace": "EFSMount",
    "Statistic": "Minimum",
    "Dimensions": [
        {"Name": "InstanceId", "Value": "{{ ec2_id }}"},
        {"Name": "Environment", "Value": "{{ efs_env|upper }}"}
    ],
    "Period": 300,
    "Unit": "None",
    "EvaluationPeriods": 1,
    "DatapointsToAlarm": 1,
    "Threshold": 1.0,
    "ComparisonOperator": "LessThanThreshold",
    "TreatMissingData": "missing",
    "Tags": [
        {"Key": "Name", "Value": "{{ ec2_id }}-{{ name }}-{{ efs_env }}-{{ alarm_metric }}"},
        {"Key": "image_id", "Value": "{{ image_id }}"},
        {"Key": "Purpose", "Value": "{{ ec2_purpose }}"},
        {"Key": "environment", "Value": "{{ efs_env }}"},
        {"Key": "fisma_id", "Value": "{{ fisma_id }}"},
        {"Key": "project", "Value": "{{ project }}"}
    ],
}