----------------------------------------------------------------------------------------------------------------------
Error Occured during the Ansible AWS Alerts Config Playbook
Tower Job ID: {{ tower_job_id }}

----------------------------------------------------------------------------------------------------------------------
EC2 ID: {{ ec2_id }}
EC2 Name: {{ name }}
EC2 Environment: {{ env }}
EC2 Purpose: {{ ec2_purpose }}

----------------------------------------------------------------------------------------------------------------------
{% for item in alarm_error %}
----------------------------------------------------------------------------------------------------------------------
    {% for key, value in item.items() %}
{{key}} :: {{value}}
    {% endfor %}
----------------------------------------------------------------------------------------------------------------------
{% endfor %}