        SSLEngine on
        SSLProtocol -ALL +TLSv1.1 +TLSv1.2
        SSLCipherSuite HIGH:!aNULL:!MD5:!EXP:!EDH
        SSLCertificateFile      /etc/pki/tls/certs/server.crt
        SSLCertificateKeyFile   /etc/pki/tls/certs/server.key
